##Study Parter: Jason Wang

In [196]:
# Import library 
import pandas as pd

In [197]:
# Indicate which csv to analyze
csv_file = "/Users/ashleypatricia/Documents/GitHub/pandas-challenge/HeroesOfPymoli/HeroesOfPymoli_purchase_data.csv"

#Tell code to read this specific csv
data_df = pd.read_csv(csv_file)
data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [198]:
#See what the column names are 
data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Total Number of Players

In [216]:
#Total Number of Unique Players
uniqueplayers = data_df["SN"].unique()
playercount = len(uniqueplayers)
playercount

#Create summary table
playerc_df = pd.DataFrame({"Total Players": [playercount]})
playerc_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [219]:
#Number of Unique Items
uniqueitems = data_df["Item ID"].unique()
uniqueitems2 = len(uniqueitems)
uniqueitems2

#Average Purchase Price
avgprice = data_df["Price"].mean()
avgprice

#Total Number of Purchases
purchases = data_df["Purchase ID"].count()
purchases

#Total Revenue
totalrevenue = data_df["Price"].sum()
totalrevenue


#Create new dataframe for summary data  
generaldata_df = pd.DataFrame({"Number of Unique Items": [uniqueitems2], "Average Purchase Price": [avgprice], "Number of Purchases": [purchases], "Total Revenue": [totalrevenue]})
generaldata_df["Average Purchase Price"] = generaldata_df["Average Purchase Price"].map("${: .2f}".format)
generaldata_df["Total Revenue"] = generaldata_df["Total Revenue"].map("${: .2f}".format)
generaldata_df

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,179,$ 3.05,780,$ 2379.77

## Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [221]:
#Clean up data with duplicates 
eraseduplicates_df = data_df.drop_duplicates(subset="SN")

#Find the number of players by gender
gender_count = eraseduplicates_df.value_counts("Gender")
gender_count

#Count of male players (using index)
male = gender_count[0]
#Count of female players (using index)
female = gender_count[1]
#Count of non-disclosed players (using index)
non_disclosed = gender_count[2]

#Percentage of male players 
percentmale = (male / (male + female + non_disclosed))
#Percentage of female players 
percentfemale = (female / (male + female + non_disclosed))
#Percentage of non-disclosed players 
percentND = (non_disclosed / (male + female + non_disclosed))

#Create new dataframe for summary table 
percentages = [percentmale, percentfemale, percentND]
genderdata_df = pd.DataFrame({"Gender Counts": gender_count, "Percentages": percentages})
genderdata_df["Percentages"] = genderdata_df["Percentages"].map("{:.2%}".format)
genderdata_df

                       Gender Counts Percentages
Gender
Male                             484      84.03%
Female                            81      14.06%
Other / Non-Disclosed             11       1.91%

## Purchasing Analysis (Gender)

### The below each broken by gender

* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Average Purchase Total per Person by Gender

In [224]:

#Purchase count by gender (don't need to remove duplicates because looking at purchases)
gender_info = data_df.value_counts("Gender")
gender_info

#Avg Purchase Price for Males
avgmalepurchases = (round(data_df.loc[data_df["Gender"] == "Male", "Price"].sum() / gender_info["Male"], 2))
avgmalepurchases
#Avg Purchace Price for Females
avgfemalepurchases = (round(data_df.loc[data_df["Gender"] == "Female", "Price"].sum() / gender_info["Female"], 2))
avgfemalepurchases
#Avg Purchace Price for Non-Disclosed
avgNDpurchases = (round(data_df.loc[data_df["Gender"] == "Other / Non-Disclosed", "Price"].sum() / gender_info["Other / Non-Disclosed"], 2))
avgNDpurchases

#Total Purchase Value for Males 
totalmalePV = data_df.loc[data_df["Gender"] == "Male", "Price"].sum()
#Total Purchase Value for Females 
totalfemalePV = data_df.loc[data_df["Gender"] == "Female", "Price"].sum()
#Total Purchase Value for Non-Disclosed
totalNDPV = data_df.loc[data_df["Gender"] == "Other / Non-Disclosed", "Price"].sum()


#Average Purchase Total per Person by Males
avgmaleTotal = (round(totalmalePV / male, 2))
#Average Purchase Total per Person by Females
avgfemaleTotal = (round(totalfemalePV / female, 2))
#Average Purchase Total per Person by Non-Disclosed
avgnon_disclosedTotal = (round(totalNDPV / non_disclosed, 2))



#Create lists for new dataframe
avgpurchases = [avgmalepurchases, avgfemalepurchases, avgNDpurchases]
totalPV = [totalmalePV, totalfemalePV, totalNDPV]
avgpurchasetotal = [avgmaleTotal, avgfemaleTotal, avgnon_disclosedTotal]
#Create new dataframe for summary table 
totaldata_df = pd.DataFrame({"Purchase Count": gender_info, "Average Purchase Price": avgpurchases, "Total Purchase Value": totalPV, "Avg Total Purchase per Person": avgpurchasetotal})
#Format with currency symbols
totaldata_df["Average Purchase Price"] = totaldata_df["Average Purchase Price"].map("${: .2f}".format)
totaldata_df["Total Purchase Value"] = totaldata_df["Total Purchase Value"].map("${: .2f}".format)
totaldata_df["Avg Total Purchase per Person"] = totaldata_df["Avg Total Purchase per Person"].map("${: .2f}".format)
#Call new dataframe
totaldata_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$ 3.02,$ 1967.64,$ 4.07
Female,113,$ 3.20,$ 361.94,$ 4.47
Other / Non-Disclosed,15,$ 3.35,$ 50.19,$ 4.56

## Age Demographics

### The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

* Purchase Count
* Average Purchase Price
* Total Purchase Value
* Average Purchase Total per Person by Age Group

In [203]:
#Create bins for age groups
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

#Create labels for each bin 
grouplabels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Use dataframe without duplicates and slice data 
nodup_df = data_df.drop_duplicates(subset="SN")
nodup = pd.cut(nodup_df["Age"], bins, labels=grouplabels)
nodup.value_counts()

#new dataframe
nodup2_df = pd.DataFrame({"Age Groups": nodup.value_counts()})

#Percentage of Players by Age Group
nodup2_df["Percentage of Players"] = nodup2_df["Age Groups"] / nodup2_df["Age Groups"].sum()

#Format
nodup2_df["Percentage of Players"] = nodup2_df["Percentage of Players"].map("{:.2%}".format)
nodup2_df.sort_index()

       Age Groups Percentage of Players
<10            17                 2.95%
10-14          22                 3.82%
15-19         107                18.58%
20-24         258                44.79%
25-29          77                13.37%
30-34          52                 9.03%
35-39          31                 5.38%
40+            12                 2.08%

In [204]:

#Purchase Count by Age 
data_df["Age Groups"] = pd.cut(data_df["Age"], bins, labels=grouplabels)
purchasecount = data_df["Age Groups"].value_counts().sort_index()
purchasecount


#Average Purchase Price by Age Group 
group1 = (round(data_df.loc[data_df["Age Groups"] == "<10", "Price"].sum() / purchasecount["<10"], 2))
group2 = (round(data_df.loc[data_df["Age Groups"] == "10-14", "Price"].sum() / purchasecount["10-14"], 2))
group3 = (round(data_df.loc[data_df["Age Groups"] == "15-19", "Price"].sum() / purchasecount["15-19"], 2))
group4 = (round(data_df.loc[data_df["Age Groups"] == "20-24", "Price"].sum() / purchasecount["20-24"], 2))
group5 = (round(data_df.loc[data_df["Age Groups"] == "25-29", "Price"].sum() / purchasecount["25-29"], 2))
group6 = (round(data_df.loc[data_df["Age Groups"] == "30-34", "Price"].sum() / purchasecount["30-34"], 2))
group7 = (round(data_df.loc[data_df["Age Groups"] == "35-39", "Price"].sum() / purchasecount["35-39"], 2))
group8 = (round(data_df.loc[data_df["Age Groups"] == "40+", "Price"].sum() / purchasecount["40+"], 2))

#Total Purchase Value by Age Group 
totalgroup1 = (round(data_df.loc[data_df["Age Groups"] == "<10", "Price"].sum(), 2))
totalgroup2 = (round(data_df.loc[data_df["Age Groups"] == "10-14", "Price"].sum(), 2))
totalgroup3 = (round(data_df.loc[data_df["Age Groups"] == "15-19", "Price"].sum(), 2))
totalgroup4 = (round(data_df.loc[data_df["Age Groups"] == "20-24", "Price"].sum(), 2))
totalgroup5 = (round(data_df.loc[data_df["Age Groups"] == "25-29", "Price"].sum(), 2))
totalgroup6 = (round(data_df.loc[data_df["Age Groups"] == "30-34", "Price"].sum(), 2))
totalgroup7 = (round(data_df.loc[data_df["Age Groups"] == "35-39", "Price"].sum(), 2))
totalgroup8 = (round(data_df.loc[data_df["Age Groups"] == "40+", "Price"].sum(), 2))

#Average Total Purchase per Person
avggrouptotal1 = (round(totalgroup1 / nodup.value_counts().sort_index()[0], 2))
avggrouptotal2 = (round(totalgroup1 / nodup.value_counts().sort_index()[1], 2))
avggrouptotal3 = (round(totalgroup1 / nodup.value_counts().sort_index()[2], 2))
avggrouptotal4 = (round(totalgroup1 / nodup.value_counts().sort_index()[3], 2))
avggrouptotal5 = (round(totalgroup1 / nodup.value_counts().sort_index()[4], 2))
avggrouptotal6 = (round(totalgroup1 / nodup.value_counts().sort_index()[5], 2))
avggrouptotal7 = (round(totalgroup1 / nodup.value_counts().sort_index()[6], 2))
avggrouptotal8 = (round(totalgroup1 / nodup.value_counts().sort_index()[7], 2))


#new summary dataframe for table 
avgagePP= [group1, group2, group3, group4, group5, group6, group7, group8]
totalagePV = [totalgroup1, totalgroup2, totalgroup3, totalgroup4, totalgroup5, totalgroup6, totalgroup7, totalgroup8]
avgtotalage = [avggrouptotal1, avggrouptotal2, avggrouptotal3, avggrouptotal4, avggrouptotal5, avggrouptotal6, avggrouptotal7, avggrouptotal8]
agedata1_df = pd.DataFrame({"Purchase Count": purchasecount, "Average Purchase Price": avgagePP, "Total Purchase Value": totalagePV, "Avg Total Purchase per Person": avgtotalage})
agedata1_df["Average Purchase Price"] = agedata1_df["Average Purchase Price"].map("${: .2f}".format)
agedata1_df["Total Purchase Value"] = agedata1_df["Total Purchase Value"].map("${: .2f}".format)
agedata1_df["Avg Total Purchase per Person"] = agedata1_df["Avg Total Purchase per Person"].map("${: .2f}".format)
agedata1_df.index = agedata1_df.index.rename("Age Range")
agedata1_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$ 3.35,$ 77.13,$ 4.54
10-14,28,$ 2.96,$ 82.78,$ 3.51
15-19,136,$ 3.04,$ 412.89,$ 0.72
20-24,365,$ 3.05,$ 1114.06,$ 0.30
25-29,101,$ 2.90,$ 293.00,$ 1.00
30-34,73,$ 2.93,$ 214.00,$ 1.48
35-39,41,$ 3.60,$ 147.67,$ 2.49
40+,13,$ 2.94,$ 38.24,$ 6.43

## Top Spenders

### Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

* SN
* Purchase Count
* Average Purchase Price
* Total Purchase Value

In [205]:
#Number of Purchases of Each Player
topspendercount = data_df["SN"].value_counts()
topspendercount 

#Total Purchase Value of Each Player 
topspenderPV = [round(data_df.loc[data_df["SN"] == player, "Price"].sum(), 2) for player in topspendercount.index]
topspenderPV

#Average Purchase Price Per Player 
avgPP = [round(topspenderPV[i] / topspendercount[i], 2) for i in range(len(topspendercount))]
avgPP

#new summary dataframe for table 
topspenders_df = pd.DataFrame({"Purchase Count": topspendercount, "Average Purchase Price": avgPP, "Total Purchase Value": topspenderPV})
sortval = topspenders_df.sort_values("Total Purchase Value", ascending=False)
sortval["Average Purchase Price"] = sortval["Average Purchase Price"].map("${: .2f}".format)
sortval["Total Purchase Value"] = sortval["Total Purchase Value"].map("${: .2f}".format)
sortval.index = sortval.index.rename("Player Name")
sortval

             Purchase Count Average Purchase Price Total Purchase Value
Player Name
Lisosia93                 5                 $ 3.79              $ 18.96
Idastidru52               4                 $ 3.86              $ 15.45
Chamjask73                3                 $ 4.61              $ 13.83
Iral74                    4                 $ 3.40              $ 13.62
Iskadarya95               3                 $ 4.37              $ 13.10
...                     ...                    ...                  ...
Eudanu84                  1                 $ 1.02               $ 1.02
Ililsasya43               1                 $ 1.02               $ 1.02
Aidai61                   1                 $ 1.01               $ 1.01
Chanirra79                1                 $ 1.01               $ 1.01
Alo38                     1                 $ 1.00               $ 1.00

[576 rows x 3 columns]

## Most Popular Items

### Identify the 5 most popular items by purchase count, then list (in a table):

* Item ID
* Item Name
* Purchase Count
* Item Price
* Total Purchase Value

In [206]:
# Retrieve the Item ID, Item Name, and Item Price columns
popitems = data_df[["Item ID", "Item Name", "Price"]]

#Group by Item ID and Item Name. 
grouped = popitems_df.groupby(["Item ID", "Item Name"])

#Purchase Count for Each Item
topitemcount = grouped["Item Name"].count()
#Check if correct by seeing in decending order
#topitemcount2 = topitemcount.sort_values(ascending=False)
#topitemcount2

#Total Purchase Value of Each Item
topitemPV = grouped["Price"].sum()

#Average Item Price for Each Item
avgtopprice = grouped["Price"].mean()

#New summary dataframe for table 
mostpopitems_df = pd.DataFrame({"Purchase Count": topitemcount, "Average Item Price": avgtopprice, "Total Purchase Value": topitemPV})
sort = mostpopitems_df.sort_values("Purchase Count", ascending=False)
sort["Average Item Price"] = sort["Average Item Price"].map("${: .2f}".format)
sort["Total Purchase Value"] = sort["Total Purchase Value"].map("${: .2f}".format)
sort.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$ 4.61,$ 59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
132,Persuasion,9,$ 3.22,$ 28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77

## Most Profitable Items

### Identify the 5 most profitable items by total purchase value, then list (in a table):

* Item ID
* Item Name
* Purchase Count
* Item Price
* Total Purchase Value

In [207]:
#Sort the above table by total purchase value in descending order
sort2 = mostpopitems_df.sort_values("Total Purchase Value", ascending=False)
sort2["Average Item Price"] = sort2["Average Item Price"].map("${: .2f}".format)
sort2["Total Purchase Value"] = sort2["Total Purchase Value"].map("${: .2f}".format)
sort2.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$ 4.61,$ 59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
82,Nirvana,9,$ 4.90,$ 44.10
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
103,Singed Scalpel,8,$ 4.35,$ 34.80